/* FORMATAÇÕES GERAIS
**************************************/

*{
	padding: 0;
	margin: 0;
}

/* FORMATAÇÕES DA ESTRUTURA DO SITE
**************************************/

body{
	background: #f4f2ec url(../img/fundo.png) repeat-x;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container{
	width: 1080px;
	margin: 0 auto;
}

a:link, a:active, a:visited{
	color: #af670a;
	text-decoration: none;
}

a:hover{
	color: #227115;
}

/* LOGO
****************************************/

#logo h1{
	float: left;
}

#logo a{
	width: 248px;
	height: 21px;
	text-indent: -8888px;
	display: block;
	background: url(../img/logo.png) no-repeat;
}

/* BARRA DE NAVEGAÇÃO
*****************************************/

header{
	padding: 15px 0;
	height: 55px;
}

nav ul{
	list-style: none;
	margin: 20px;
	float: right;
}

nav ul li{
	float: left;
}

nav ul li a:link{
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	font-weight: bold;
	text-transform: uppercase;
}

nav ul li a:hover{
	color: #fff;
	border-bottom: 3px solid #af670a;
}

/* PRINCIPAL
***************************************/

#conteudo{
	width: 710px;
	float: left;
}

aside{
	width: 350px;
	float: right;
	background: #ebe7dd;
	padding-bottom: 30px;
}

section#visita{
	background: #cdc8b1;
	padding: 10px 27px 10px 27px;
	margin-top: 10px;
	margin-bottom: 10px;
}

section#galeria{
	padding: 0 27px 0 27px;
}

section#galeria a{
	display: block;
	background: url(../img/fundo-foto.png) no-repeat;
	float: left;
	padding: 17px 15px;
	margin: 10px 0 0 20px;
}

section#galeria a:hover{
	background: #9b9271;
	border-radius: 5px;
}

section#galeria img{
	margin-left: 2px;
	margin-top: 3px;
}

h4{
	color: #86521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;
}

/* FORMULÁRIOS
***************************************/

input{
	width: 143px;
	height: 20px;
	padding-left: 5px;
	margin: 3px;
	background: #fff;
	border: none;
	border-radius: 3px;
	font-size: 1em;
}

input.campo{
	border: 1px solid #ada484;
}

input.botao{
	width: 100%;
	height: 40px;
	margin: 15px 0 0 0;
	background: #af670a;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
}

input.botao:hover{
	color: #ffffff;
	background: linear-gradient(to bottom, #faa600, #f68a00);
	cursor: pointer;
}

label{
	font-weight: bold;
}

fieldset{
	border: none;
}

legend{
	display: none;
}

/* RODAPÉ
***************************************/

footer{
	clear: both;
	height: 120px;
	color: rgb(255, 255, 255);
	background: rgb(27, 21, 1);
}